<!-- Config file for the game -->

<config>
  <app framerate_cap="60">
    <title>Game Development Testbed</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="false"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>
  
  <map>
    <folder>maps/</folder>
  </map>

  <entities>
    <player>
      <speed x = "80" y = "150"/>
      <size x ="25" y ="26"/>
      <offset x ="2" y ="38"/>
      <gravity gravity ="1.8"/> 
      <death_fx path = "audio/fx/death_fx.wav"/>
      <copy_fx path = "audio/fx/copy_fx.wav"/> 
      <jump_fx path = "audio/fx/jump_fx.wav"/>
      <respawn_fx path = "audio/fx/respawn_fx.wav"/>
    </player>
    <platform>
      <size x ="34" y ="4"/> 
      <offset x ="0" y ="56"/>
    </platform>
    <GroundEnemy>
      <speed x = "80" y = "80"/>
      <size x ="24" y ="20"/>
      <offset x ="20" y ="23"/>
      <gravity gravity ="80"/>
      <path search ="200" speed ="0.75"/>
    </GroundEnemy>
    <FlyingEnemy>
      <speed x = "80" y = "80"/>
      <size x ="30" y ="19"/>
      <offset x ="0" y ="7"/>
      <gravity gravity ="80"/>
      <path search ="150" speed ="0.5"/>
    </FlyingEnemy>
  </entities>
</config>