<!-- Config file for the game -->

<config>
  <app>
    <title>Game Development Testbed</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="true"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>
  
  <map>
    <folder>maps/</folder>
  </map>

  <entities>
    <player>
	    <speed x = "2" y = "1.5"/>
      <size x ="25" y ="26"/>
      <offset x ="2" y ="38"/>
      <gravity gravity ="1.2"/>  
    </player>
    <platform>
      <size x ="34" y ="4"/> 
      <offset x ="0" y ="56"/>
    </platform>
  </entities>
</config>